
no service pad
service timestamps debug datetime localtime
service timestamps log datetime localtime
logging buffered {{ log_buffer }}
logging console critical
logging monitor warnings
username {{ base_user }} privilege 15 secret 5 {{ base_user_password }}

no aaa new-model

clock timezone {{ timezone }} -7
clock summer-time {{ timezone }} recurring
vtp mode {{ vtp_mode }}

ip routing
ip domain-name {{ domain_name }}
ip name-server {{ nameserver1 }}
ip name-server {{ nameserver2 }}

login on-failure log every {{ log_failure_count }}
login on-success log

spanning-tree mode {{ stp_mode }}
spanning-tree extend system-id
vlan internal allocation policy ascending

ip ssh time-out {{ ssh_timeout }}
ip ssh version {{ ssh_version }}

no ip http server
no ip http secure-server
 
logging source-interface {{ logging_source_interface }}
logging {{ logserver1 }}
logging {{ logserver2 }} 

snmp-server community {{ snmp_community }} RO 99
snmp-server trap-source {{ snmp_source_interface }}
snmp-server contact {{ snmp_email }}
snmp-server enable traps ospf state-change
snmp-server enable traps ospf errors
snmp-server enable traps ospf retransmit
snmp-server enable traps ospf lsa
snmp-server enable traps ospf cisco-specific state-change nssa-trans-change
snmp-server enable traps ospf cisco-specific state-change shamlink interface
snmp-server enable traps ospf cisco-specific state-change shamlink neighbor
snmp-server enable traps ospf cisco-specific errors
snmp-server enable traps ospf cisco-specific retransmit
snmp-server enable traps ospf cisco-specific lsa
snmp-server host {{ snmp_host }} {{ snmp_community }}


line con 0
line vty 0 4
 exec-timeout 30 0
 privilege level 15
 transport preferred ssh
 transport input ssh
 transport output ssh
line vty 5 15
 exec-timeout 30 0
 privilege level 15
 transport preferred ssh
 transport input ssh
 transport output ssh
 
ntp source {{ ntp_source_interface }}
ntp server {{ ntpserver1 }}
ntp server {{ ntpserver2 }}
ntp server {{ ntpserver3 }} prefer



 

